{% extends 'default.html.twig' %}
{% import "includes/graphjs.html.twig" as graph %}
{% import "includes/graph.html.twig" as g %}

{% block title %}Home{% endblock %}
{% block HomeCurrent %}selected{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{constant('SITE_ROOT')}}/css/dygraph.css" />
{% endblock %}

{% block jsfooter %}
    {{ parent() }}
    {{ graph.dyjs('main','/bzstatsapi/csv/getTotalCount','BZFlag Golbal Activity','Number Servers/Players', 'false') }}
{% endblock %}

    
{% block graphArea %}
    {{ g.ghtml("main", '/bzstatsapi/csv/getTotalCount', '1110px', '400px') }}
{% endblock %}


{% block content %}
<table id='stats'>
    <thead>
        <tr>
            <th id="th1">Current</th>
            <th id="th2">Today</th>
            <th id="th3">This Week</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3" class='outer'>
                <table>
                    <tr class='tHeading'>
                        <td id="td1">Servers <span class="small info">Last Update: {{ data['curStats']['Timestamp'] }}</span></td>
                        <td id="td2">Server Populations</td>
                        <td id="td3">Server Populations</td>
                    </tr>
                    <tr class='tRow'>
                        <td>Available Servers: <span class="data">{{ data['curServers']['ServerCount']}}</span></td>
                        <td>Available Servers: <span class="data">{{ data['dayServers']['ServerCount']}}</span></td>
                        <td>Available Servers: <span class="data">{{ data['weekServers']['ServerCount']}}</span></td>
                    </tr>
                    <tr class='tRow'>
                        <td>Current Games: <span class="data">{{ data['curStats']['Games'] }}</span></td>
                        <td>
                            Most Popular Time: <span class="data">{{ data['dayMostActive']['Timestamp'] }}</span><br />
                            <span class="data">{{ data['dayMostActive']['Players'] }} players, {{ data['dayMostActive']['Servers'] }} servers</span>
                        </td>
                        <td>
                            Most Popular Time: <span class="data">{{ data['weekMostActive']['Timestamp'] }}</span><br />
                            <span class="data">{{ data['weekMostActive']['Players'] }} players, {{ data['weekMostActive']['Servers'] }} servers</span>
                        </td>
                    </tr>
                    <tr class='tRow tRowLast'>
                        <td>Current Players: <span class="data">{{ data['curStats']['Players'] }}</span></td>
                        <td>
                            Least Popular Time: <span class="data">{{ data['dayLeastActive']['Timestamp'] }}</span><br />
                            <span class="data">{{ data['dayLeastActive']['Players'] }} players, {{ data['dayLeastActive']['Servers'] }} servers</span>
                        </td>
                        <td>
                            Least Popular Time: <span class="data">{{ data['weekLeastActive']['Timestamp'] }}</span><br />
                            <span class="data">{{ data['weekLeastActive']['Players'] }} players, {{ data['weekLeastActive']['Servers'] }} servers</span>
                        </td>
                    </tr>
                    <tr class='tHeading'>
                        <td id="td1">Most Popular Server</td>
                        <td id="td2">Most Popular Server</td>
                        <td id="td3">Most Popular Server</td>
                    </tr>
                    <tr class='tRow tRowLast'>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/server/{{data['curPopularServer']['ServerName']}}">{{ data['curPopularServer']['ServerName'] }}</a></span><br />
                            Total Players: <span class="data">{{ data['curPopularServer']['TotalPlayers'] }}</span><br />
                            Players: <span class="data">{{ data['curPopularServer']['Players'] }}</span><br />
                            Observers Players: <span class="data">{{ data['curPopularServer']['Observers'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/server/{{data['dayPopularServer']['ServerName']}}">{{ data['dayPopularServer']['ServerName'] }}</a></span><br />
                            Total Players: <span class="data">{{ data['dayPopularServer']['TotalPlayers'] }}</span><br />
                            Players: <span class="data">{{ data['dayPopularServer']['Players'] }}</span><br />
                            Observers Players: <span class="data">{{ data['dayPopularServer']['Observers'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/server/{{data['weekPopularServer']['ServerName']}}">{{ data['weekPopularServer']['ServerName'] }}</a></span><br />
                            Total Players: <span class="data">{{ data['weekPopularServer']['TotalPlayers'] }}</span><br />
                            Players: <span class="data">{{ data['weekPopularServer']['Players'] }}</span><br />
                            Observers Players: <span class="data">{{ data['weekPopularServer']['Observers'] }}</span><br />
                        </td>
                    </tr>
                    <tr class='tHeading'>
                        <td id="td1">Best Player (Ratio)</td>
                        <td id="td2">Best Player (Ratio)</td>
                        <td id="td3">Best Player (Ratio)</td>
                    </tr>
                    <tr class='tRow tRowLast'>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['curBestRatio']['PlayerName']|url_encode()}}">{{ data['curBestRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['curBestRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['curBestRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['curBestRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['curBestRatio']['Ratio'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['dayBestRatio']['PlayerName']|url_encode()}}">{{ data['dayBestRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['dayBestRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['dayBestRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['dayBestRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['dayBestRatio']['Ratio'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['weekBestRatio']['PlayerName']|url_encode()}}">{{ data['weekBestRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['weekBestRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['weekBestRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['weekBestRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['weekBestRatio']['Ratio'] }}</span><br />
                        </td>
                    </tr>
                    <tr class='tHeading'>
                        <td id="td1">Most Wins</td>
                        <td id="td2">Most Wins</td>
                        <td id="td3">Most Wins</td>
                    </tr>
                    <tr class='tRow tRowLast'>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['curPlayerWins']['PlayerName']|url_encode()}}">{{ data['curPlayerWins']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['curPlayerWins']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['curPlayerWins']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['curPlayerWins']['Teamkills'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['dayPlayerWins']['PlayerName']|url_encode()}}">{{ data['dayPlayerWins']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['dayPlayerWins']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['dayPlayerWins']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['dayPlayerWins']['Teamkills'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['weekPlayerWins']['PlayerName']|url_encode()}}">{{ data['weekPlayerWins']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['weekPlayerWins']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['weekPlayerWins']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['weekPlayerWins']['Teamkills'] }}</span><br />
                        </td>
                    </tr>
                    <tr class='tHeading'>
                        <td id="td1">Worst Player (Ratio)</td>
                        <td id="td2">Worst Player (Ratio)</td>
                        <td id="td3">Worst Player (Ratio)</td>
                    </tr>
                    <tr class='tRow tRowLast'>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['curWorstRatio']['PlayerName']|url_encode()}}">{{ data['curWorstRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['curWorstRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['curWorstRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['curWorstRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['curWorstRatio']['Ratio'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['dayWorstRatio']['PlayerName']|url_encode()}}">{{ data['dayWorstRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['dayWorstRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['dayWorstRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['dayWorstRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['dayWorstRatio']['Ratio'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['weekWorstRatio']['PlayerName']|url_encode()}}">{{ data['weekWorstRatio']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['weekWorstRatio']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['weekWorstRatio']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['weekWorstRatio']['Teamkills'] }}</span><br />
                            Ratio: <span class="data">{{ data['weekWorstRatio']['Ratio'] }}</span><br />
                        </td>
                    </tr>
                    <tr class='tHeading'>
                        <td id="td1">Biggest Jerk (Most TKs)</td>
                        <td id="td2">Biggest Jerk (Most TKs)</td>
                        <td id="td3">Biggest Jerk (Most TKs)</td>
                    </tr>
                    <tr class='tRow'>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['curTK']['PlayerName']|url_encode()}}">{{ data['curTK']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['curTK']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['curTK']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['curTK']['Teamkills'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['dayTK']['PlayerName']|url_encode()}}">{{ data['dayTK']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['dayTK']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['dayTK']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['dayTK']['Teamkills'] }}</span><br />
                        </td>
                        <td>
                            <span class="norm dataTop"><a class="dataTop" href="/bzstats/player/{{data['weekTK']['PlayerName']|url_encode()}}">{{ data['weekTK']['PlayerName'] }}</a></span><br />
                            Wins: <span class="data">{{ data['weekTK']['Wins'] }}</span><br />
                            Losses: <span class="data">{{ data['weekTK']['Losses'] }}</span><br />
                            Team Kills: <span class="data">{{ data['weekTK']['Teamkills'] }}</span><br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}